{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" id="sign-up-form">
<div class="row">
	<div class="col-md-6">
		<img src ="/media/bga.jpg" style="height:100%;width:100%;opacity:1;padding:0;">
	</div>
	<div class="col p-4">
		<form method="POST">{% csrf_token %}

				Username/E-mail: <br> {{ form.username }}<br>
				{% if form.username.errors %}
					{{ form.username.errors }}
					<p style="color:red;"> Please try once again</p>
				{% endif %}

				Password: <br> {{ form.password }}<br>
				{% if form.password.errors %}
					{{ form.password.errors }}
					<p style="color:red;"> Please try once again</p>
				{% endif %}<br>

			<input type="submit" value="Log In" class="btn btn-primary">
			<a href="{%url 'password_reset' %}">Forgot Password? </a><br>
			Don't have an account? <a href="{%url 'signup' %}">Create account</a>
			<center> --OR--</center><br>
			<div class="login-box">
			<a href="#" class="social-button" id="facebook-connect"> <span>Connect with Facebook</span></a>
			<a href="#" class="social-button" id="google-connect"> <span>Connect with Google</span></a>
		</div>
		</form>
	</div>
</div>
</div>
{% endblock %}