{% extends 'registration_base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load socialaccount %} 
{% block content %}
<div class="container-fluid mb-4">
    <form method="POST" class="login-form">{% csrf_token %}
        <h1 id="login-heading"> LOG IN</h1>
        {{ form|crispy }}

        <a style="float:right;display:block;" class="redirect" href="{%url 'password_reset' %}">
			Forgot Password? 
		</a><br>
        <button type="submit" class="submit-btn">Log In</button>
        <div class="login-box">
            <a style="text-align: center;" href="#" class="social-button" id="facebook-connect">
                <span>Facebook </span>
            </a>
            <a style="text-align: center;" href="{% provider_login_url 'google' %}" class="social-button" id="google-connect">
                <span>Google</span>
            </a>
        </div>
        <center><h4>OR</h4></center>
        <a class="redirect" style="text-align:center;display: block;" href="{%url 'signup' %}">
            Create a new account
        </a>
    </form>

</div>
{% endblock %}