{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
<div class="container-fluid p-2 bg-dark">
	<a class="links" href="{% url 'home' %}">Home </a>
</div>
<div class="container">
	<h1 class="reg-title"> RESET YOUR PASSWORD </h1>
	<div id="resetform-container" class="mx-auto col-md-6 col-sm-12">
		<form method="post">{% csrf_token %}
			<div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
            Email<span class="asteriskField">*</span> </label> <div class="controls"><center> <input type="email" name="email" autocomplete="email" placeholder="Enter your registered email: " maxlength="254" class="emailinput" required id="id_email"></center> </div> </div>
			<input type="submit" class="btn btn-primary float-right mt-2" value="Send confirmation link"><br><br>
			<h1 style="text-align: center;"> OR </h1>
			<div class="login-box" style="margin:auto;width:100%;">
				<a href="#" class="social-button" id="facebook-connect">
					<span>Connect with Facebook</span>
				</a>
				<a href="{% provider_login_url 'google' %}" class="social-button" id="google-connect">
					<span>Connect with Google</span>
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
