{% extends 'base.html' %}

{% block content %}
<style>
	h1{
		text-align: center;
		color:grey;
		font-weight:bolder;
	}
	#content{
		color:black;
		font-size: 1.4em;
		background:white;
		padding:20px;
		border-radius:10px;	
	}
</style>
<div class="row mt-4">
	<div class="col-md-6 col-sm-12 mx-auto">
		<div id="content">
			<h1 class="mb-3">Password reset sent</h1>
			Hi,
			We’ve emailed you instructions for setting your password in your registered email, 
			if an account exists with the email you entered. You should receive them shortly.
			If you don’t receive an email, please make sure you’ve entered the address you 
			registered with, and check your spam folder.
		</div>
	</div>
</div>
{% endblock %}