{% extends 'base.html' %}

{% block content %}
<style>
	h1{
		color:grey;
		text-align: center;
		font-weight: bolder
	}
	#message {
		text-align:center;
		font-size:1.3em;
	}
	.message-container{
		padding:10px;
		background:white;
		border-radius:10px;	
	}
</style>
{% include 'navigation.html' %}
<div class="container message-container mt-4 p-4">
	<h1> Password Change done </h1><br>
	<p id="message"> 
		Hi {{ user.username }}!!! Your 	password is changed successfully. Now you can login with your new password.
	Click here to go on login page <br>
	</p>
</div>
{% endblock %}