{% extends 'registration_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navigation.html' %}
<div class="container-fluid mb-4">
	<form method="POST" class="login-form">{% csrf_token %}
		<h1 id="login-heading"> SIGN UP</h1>
		{{ signupform|crispy }}
		<button type="submit" class="submit-btn">Create My Account.</button>
		<a style="position:absolute;right:10px;font-weight: bolder;" 
			href="{%url 'login' %}">
			Already have an account? Log In
		</a><br>
	</form>
</div>
{% endblock %}
