{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
	{% include 'navigation.html' %}
	<div class="container" id="poll-container">

	{% if pollform %}
		<div style="display:flex;justify-content:center;">
			<button id="addpollbtn" @click="showform" class="btn btn-primary mx-auto">
				Add a poll
			</button>
		</div>

		<div v-if="form" id="pollform">
			<form style="width:80%;"method="POST" enctype="multipart/form-data">{% csrf_token %}
				{{ pollform|crispy }}<br>
				<div v-for="i in p">
					<input type="text" v-if="i==p" autocomplete="off"
						placeholder="Mention more options..." @click="insert" name="check">
					<input type="text" v-else autocomplete="off"
						placeholder="Mention your option..." name="check">
				</div>

				<input type="datetime-local" autocomplete="off" required="required" name ='date'>
				<input type="submit" class="btn btn-success"value="submit">
			</form>
		</div>
	{% endif %}
	</div>
	<div class="container">
		{% if polls %}
		<h2 style="text-align:center;"> List of Polls.</h2>
			{% for poll in polls reversed %}
				<a href="/polls/{{classroom.unique_id}}/poll-page/{{ poll.id }}">
					<div class="poll-list" class="alert">
					 	0{{ forloop.counter }} {{ poll.poll_details }}
					 	{{poll.who_can_vote}}
					</div>
				</a>
			{% endfor %}<br><br>
			{% include 'paginations.html' %}
		{% else %}	
			<h2 style="text-align:center;color:green;font-weight: bolder;"> 
				No Polls added yet.
			</h2>
		{% endif %}
	</div>
</div>
</div>
{% endblock %}