{% extends '../base.html' %}
{% block content %}
<style>
	.choice{
		background:white;
		padding:10px;
		font-weight:bolder;
		margin: 10px 0px;
	}
</style>
<div>
	{% include 'navigation.html' %}
	<div class="container"><br>
		{% if messages %}
		<div class="messages">
		    {% for message in messages %}
		    <div class='alert alert-dismissible alert-danger'>
		    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    		<span aria-hidden="true">&times;</span>
	  			</button>
		   		 {{ message }}
		     </div>
		    {% endfor %}
		</div>
		{% endif %}

		<div class="row ">
			<div class="col-sm-12 mx-auto col-md-6">
				<pre style="font-size: 1.2em;">{{ details }}</pre>
				Note: Choose only one option
				{% for choice in choices %}
					<a href="/polls/{{classroom.unique_id}}/voting/{{poll.id}}/{{choice.id}}">
						<div class="alert choice">{{ choice.choice_text}} 
							<span class="pill pill-danger float-right">
								{{ choice.votes }}
							</span>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
{% endblock %}

