{% extends '../base.html' %}
{% block content %}
<div>
	{% include 'navigation.html' %}
	<div class="container"><br>
		{% if messages %}
		<div class="messages">
		    {% for message in messages %}
		    <div class='alert alert-dismissible alert-danger'>
		    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    		<span aria-hidden="true">&times;</span>
	  			</button>
		   		 {{ message }}
		     </div>
		    {% endfor %}
		</div>
		{% endif %}

		
		<div class="row ">
			<div class="col-sm-12  mx-auto my-4 col-md-6">
				<div style="border-radius:10px;"class=" bg-light p-4">
					{% if poll.file %}
						<object data="{{poll.file}}" height='300' width='300'></object>
					{% endif %}
					<pre style="font-size: 1.2em;">{{ details }}</pre>
					<p> {{ poll.who_can_vote }} can participate in this poll.</p>
					<p style="float:right;"> Vote before {{ poll.announce_at }} </p>
					<p> {{ voters_length}} Votes.</p>

					<div class="float-right ">
				    	<a style="text-decoration: none;" target="_blank"	
							href="https://api.whatsapp.com/send?text=Click on
						 	this link http://127.0.0.1:8000/polls/{{classroom.unique_id}}/poll-page/{{poll.id}}/ 
						 	to participate in poll {{ details}}/)">
						 	<i class="fab fa-whatsapp fa-2x m-2" aria-hidden="true"></i>
						</a>
						<a style="text-decoration: none;" target="_blank"
							href="mailto:?subject= Invitation for participation in a poll. 
							&body=Click on this link http://127.0.0.1:8000/polls/{{classroom.unique_id}}/poll-page/{{poll.id}}/
						 	participate in {{details}}">
							<i class="fas fa-envelope fa-2x m-2"></i>
						</a>
				 	</div><br>

				</div>
				{% for choice in choices %}
					<a href="/polls/{{classroom.unique_id}}/voting/{{poll.id}}/{{choice.id}}">
						<div class="alert choice">{{ choice.choice_text}} 
							{% if show_result %}
							<span class="text-success float-right">
								{{ choice.votes }} Votes
							</span>
							{% endif %}
						</div>
					</a>
				{% endfor %}
				<p style="color:red;">Note: You can choose only one option and You can't change once you have voted.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

