<!-- Need to be changed in production -->
<!DOCTYPE html>
<html>
<head>
<style>
	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		font-family: verdana;
	}
	body{
		background: lightblue;
	}
</style>
</head>
<body>
<pre><h1 style="text-align: center;font-weight:bolder;"> GURU </h1> 
To activate your {{ user.get_username }} Guru Account,
click the link below:

http://127.0.0.1:8000{% url 'activate' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.


Sincerely,
The Guru Team
</pre>
</body>
</html>