<!-- Need to be changed in production -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/email.css' %}" rel="stylesheet">
</head>
<body>
<pre><h1 class="reg-title"> GURU </h1> 
To activate your {{ user.get_username }} Guru Account,
click the link below:

http://127.0.0.1:8000{% url 'activate' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.


Sincerely,
The Guru Team
</pre>
</body>
</html>