{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/email.css' %}" rel="stylesheet">
</head>
<body>
<h1 class="reg-title" > GURU </h1> 
<pre>Hi {{ user.username }}, A new announcement on <q>{{ announcement.subject }}</q> is made by {{ announcement.announced_by }} , in {{announcement.subject_name }} subject.
click the link below to read more about this announcement:
<a href="http://127.0.0.1:8000{% url 'announcement_page' classroom.unique_id announcement.subject_name.id announcement.id %}"> Visit </a>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>
http://127.0.0.1:8000{% url 'announcement_page' classroom.unique_id announcement.subject_name.id announcement.id %}


 Sincerely,
 The Guru Team</pre>
</body>
</html>