{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/email.css' %}" rel="stylesheet">
</head>
<body>
<h1 class="reg-title"> GURU </h1> 
<pre>Hi {{ user.username }}, A new assignment on <q>{{assignment.topic }}</q> is uploaded by vishalpandeynits, in {{ assignment.subject_name }} subject. Submit it before {{ assignment.submission_date|naturaltime }}
click the link below to read more about this assignment:
<a href="http://127.0.0.1:8000{% url 'assignment_page' classroom.unique_id assignment.subject_name.id assignment.id %}"> Visit </a>
<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>
http://127.0.0.1:8000{% url 'assignment_page' classroom.unique_id assignment.subject_name.id assignment.id %}


 Sincerely,
 The Guru Team</pre>
</body>
</html>