<!DOCTYPE html>
<html>
<head>
<style>
	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		font-family: verdana;
	}
	body{
		background: lightblue;
	}
</style>
</head>
<body>
{% autoescape off %}
Hi, You have not submitted your assignment on topic {{ assignment.topic }}. {{ user.username }} have sent you this reminder.

Sincerely,
The Guru Team
{% endautoescape %}                            
</body>
</html>