{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" id="sign-up-form">
<div class="row">
	<div class="col-md-6">
		<img src ="/media/bga.jpg" style="height:100%;width:100%;">
	</div>
	<div class="col p-4">

		<form method="POST">{% csrf_token %}
				{% if message %}
					<p style="color:red;"> {{message}}</p>
				{% endif %}
			{% for field in form %}
				{{field.label }}<br> {{ field }}<br>
				{% if field.errors %}
					{{ field.errors }}
					<p style="color:red;"> Please try once again</p>
				{% endif %}
			{% endfor %}<br>
			<input type="submit" value="Register" class="btn btn-primary">
			Already have an account? 	<a href="{% url 'login' %}"> Login</a>
		</form>
    </div>

</div>
</div>
{% endblock %}