{% extends 'registration_base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}  
{% block content %}
{% include 'snippets/navigation.html' %}
<div style="margin:2px 2px;"class="container-fluid mb-4">

    <form method="POST" id="sign-up-form" onsubmit ="return signUpPageValidation();"class="login-form">{% csrf_token %}
        <h1 id="login-heading"> SIGN UP</h1>
        <span style="color:red;">
            <span id="error-log">

            </span>
        </span>
        {{ signupform|crispy }}
        <div>
            <input type="checkbox" onchange="TogglePassword()" id="password-btn"> Show Password
        </div>
        <button type="submit" class="submit-btn">Create My Account.</button>
        <a class="redirect" style="position:absolute;right:10px;" href="{%url 'login' %}">
			Log In instead
		</a><br>
    </form>

</div>
{% endblock %} 