<div class="row">
    <div class="col-2">
        <div style="float:right;" id="mySidenav" class="sidenav">
            <button class="closebtn" onclick="closeNav()">
              &times;
            </button >
            <a href="{% url 'home' %}" onclick="closeNav()">
              <i class="fas fa-home mr-2"></i> Home
            </a> 
            {% if classroom %}
                <a href="{% url 'polls' classroom.unique_id %}">
                    <i class="fas fa-vote-yea mr-2"></i> Polls
                </a>
                <a href="/classroom/{{classroom.unique_id}}/">
                  <i class="fas fa-chalkboard-teacher mr-2"></i>Classroom
                </a>
            {% endif %}

            {% if classes %}
                <h4 style="text-align:center;font-weight: bolder;"> 
                    Switch classroom 
                </h4>
                {% for class in classes %}
                    <a href="{% url 'subjects' class.unique_id %}" onclick="closeNav()">
                      <i class="fas fa-chalkboard-teacher mr-2"></i> {{ class.class_name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="px-2 bg-light" style="background:white;height:69px;box-shadow:0px 4px 10px rgb(146, 144, 144);">
    <span class="pl-1 mb-4" id="openNav" onclick="openNav()">
        &#9776;
    </span>
    {% if classroom %}
        <span style="font-size:1.5em;margin-left:20px;">
            &nbsp;  {{ classroom.class_name }}
        </span>
    {% endif %}

    {% if user.is_authenticated %}
    <a id="co" class="float-right user-icon mr-4 mt-3 text-dark" onclick="on(_('dropdown-container'))">
        <i style="position:relative;top:-5px" class="fas mr-2 fa-chevron-left"></i><i class="fas fa-2x fa-user"></i>
    </a>
    <div id="dropdown-container" style="flex-direction: column;"class="bg-dark float-right text-dark">
        <a class="text-light d-block" href="/profile/{{user.username}}/">
            Profile
        </a>
        <a class="text-light d-block" href="{% url 'logout' %}">
            Log Out
        </a>
    </div>
    {% endif %}
    <script>
        document.body.addEventListener('click',(e)=>{
            if(e.target != document.getElementById('co')){
                document.getElementById('dropdown-container').style.display=null;
            }
        })
    </script>
</div>
</div>