{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block subject_content %}

<div class="container" >

		{% if is_teacher %}
	      	<button onclick="toggleBlockForm(document.getElementById('addform'))" type="button" class="btn add-btn float-left mt-4">

	      	 	Add <i class="fa fa-plus" aria-hidden="true"></i>

			</button><br>
		{% endif %}

		<form class="float-right search-container">
	      	<input class="search-input" autocomplete="off" type="text"
	      		 placeholder="Search..."name="search">
	      	<button class="search-icon" type="submit">
	      	 	<i class="fas fa-search"></i>
	      	</button>
		</form><br><br>

		{% if is_teacher %} 
		    <form method="POST" id="addform" class="addForm" enctype="multipart/form-data">
		    	{% csrf_token %}

				{{ form|crispy}}

				<input type="submit" class="submit-button"value="submit">
			</form>
		{% endif %}<br>

	{% if page %}

		<div style="min-height:550px;">

		{% for note in page %}

			<a href="{% url 'read_note' classroom.unique_id subject.id note.id %}">

				<div style="font-size: 1.2em; word-wrap: break-word;" class="content">

					0{{ forloop.counter}} {{ note.topic }}<br><br>

					<div class="uploaded_by"> uploaded by: {{ note.uploaded_by }} </div>

					<div class="time">
						Uploaded {{ note.uploaded_on|naturaltime }}
					</div>

				</div>

			</a>

		{% endfor %}

		</div>

		{% include 'paginations.html' %}	

	{% else %}

		<h2 style="text-align:center;color:green;margin:30px;font-weight: bolder;"> 

			No material added yet.

		</h2>

	{% endif %}
</div>

{% endblock %}
