{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load comments %}
{% load static %}
{% block subject_content %}
<style>
	#assignment-content{
		background:white;
		box-shadow: 3px 6px 6px black;
		color:black;
		padding:20px;
		border-radius:15px;
		margin:0 0 10px 0px;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6">

			<!-- Update assignment logic start -->
			{% if is_teacher %}
			<div id="containassignment">
				<a class="btn btn-danger m-2 float-right" 
					style="border:none;color:white;background:red;padding: 7px;" href="{% url 'delete_assignment' classroom.unique_id subject.id assignment.id %}">
						Delete <i class="fa fa-trash" aria-hidden="true"></i>
				</a>

				<a @click="addAssignmentFormToggle" style="border:none;color:white;background:black;padding: 7px;" 
					class="btn m-2 float-right">
				 	Update <i class="fas fa-edit"></i>
				</a><br><br>

				  <form method="POST" v-if="addform" class="addForm" enctype="multipart/form-data">{% csrf_token %}
					{{ updateform|crispy }}
					<input type="submit" class="submit-button" value="submit">
				  </form>
			 </div>
			{% endif %}<br>
			<!-- Update assignment logic ends -->

			<!-- Assignment details -->
				<div id="assignment-content">
					<p style="font-weight: bold;text-align: center;font-size:1.2em;">{{ assignment.topic }}</p>
					<b style="float:right;">
					 	Submit Before <nobr>{{ assignment.submission_date }}</nobr>
					</b><br>
					{% if assignment.file %}
						<a href="{{assignment.file.url}}" download> Download file {{ assignment.file  }} </a><br>
					{% endif %}
					<pre>{{ assignment.description }}</pre>
				</div><br>
			<!-- Assignment details ends -->
			{% include 'comments/assignmentcomment.html' %}
		</div>
		
		<div class="col"style="float:right;">
			<!-- Submission shown to teacher -->
			{% if is_teacher %}
			<div id="assignment-container">

				<button class="btn btn-primary mb-2" @click="show_all_submissions">
					All Submissions
				</button>

				<button class="btn btn-success mb-2" @click='show_ontime_submissions'>
					Ontime Submissions 
				</button>

				<button class="btn btn-danger mb-2" @click="show_late_submissions"> 
					Late Submissions 
				</button>

				<button class="btn btn-primary mb-2" @click="show_submitted">
					Submitted  
				</button>
				<button class="btn btn-primary mb-2" @click="show_not_submitted">
					Not submitted
				</button>

				<span v-if="all_submissions">
					{% for submission in all_submissions %}
						<div class="alert alert-info">
							<a href="{{submission}}" download>
								{{ submission.file }} 
							</a>
							submitted_by {{ submission.submitted_by }} at
							{{ submission.submitted_on }}. 
							 <form method="POST">{% csrf_token %}
							 	<input type="hidden" name="id" value = "{{submission.id}}">
							 	<input name="marks_assigned" type="number" value = "{{submission.marks_assigned}}" max="100">
							 	<input type="submit" id="assignMarks" onclick="fun" value = "Submit">
							</form>
						</div>
					{% endfor %}
				</span>

				<span v-if="ontime_submissions">
					{% for submission in ontime_submissions %}
						<div class="alert alert-success">
								<a href="{{submission}}" download>
									{{ submission.file }} 
								</a>
								submitted_by {{ submission.submitted_by }} at
								 {{ submission.submitted_on }}.
						</div>
					{% endfor %}
				</span>

				<span v-if="late_submissions">
				{% for submission in late_submissions %}
					<div class="alert alert-danger">
							<a href="{{submission}}" download>
								{{ submission.file }} 
							</a>
							submitted_by {{ submission.submitted_by }} at 
							{{ submission.submitted_on }}. 
					</div>
				{% endfor %}
				</span>

				<span v-if="submitted">
				{% for student in submitted %}
					<div class="alert">
							<a href="/profile/{{student.username}}">
								{{student.username}} 
							</a>
					</div>
				{% endfor %}
				</span>

				<span v-if="not_submitted">
				{% for student in not_submitted %}
					<div class="alert">
							<a href="/profile/{{student.username}}">
								{{student.username}}
							 </a>
					</div>
				{% endfor %}
				</span>

			</div>

			{% else %}
				<!-- Submission form for students  -->
				{% if not is_teacher %}
				
					{% if messages %}
					<div class="messages">
					    {% for message in messages %}
					    <div class='alert alert-{{ message.tags }}'>{{ message }} </div>
					    {% endfor %}
					</div>
					{% endif %}

					Submit your assignment:
					<form method="POST" enctype="multipart/form-data">{% csrf_token %}
						{{ submissionform|crispy }}
						<input type="submit" style="width:150px;float:right;"
						 class="btn btn-primary" value="submit">
					</form>
				{% endif %}

				{% if not submission %}
					<h2 style="color:red;"> 
						You have not submitted your assignment yet!!! 
					</h2>
				{% else %}
					{% for data in submission %}
						<h2 style="color:green;">
							You have submitted your assignment!!! 
							<a href="{{submission}}" download>
								Download
							</a>
						</h2>
					{% endfor %}
				{% endif %}

			{% endif %}
		</div>
	</div>
</div>
<script>
	new Vue({
		el:'#containassignment',
		data:{
			addform:false,
		},
		methods:{
			addAssignmentFormToggle:function(){
				this.addform=this.addform===true?false:true;
			}
		}
	})
</script>
{% endblock %}