{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load comments %}
{% load static %}
{% block subject_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<!-- Update assignment logic start -->
			{% if is_teacher %}
			<div id="containassignment">
				<a class="btn btn-danger m-2 float-right" 
					style="border:none;color:white;background:red;padding: 7px;" 
					href="{% url 'delete_assignment' classroom.unique_id subject.id assignment.id %}">
					Delete <i class="fa fa-trash" aria-hidden="true"></i>
				</a>

				<a class="btn btn-dark m-2 float-right" 
					style="border:none;color:white;padding: 7px;" 
					href="/profile/{{assignment.assigned_by}}">
					Contact <i class="fas fa-phone-volume"></i>
				</a>

				<a @click="addAssignmentFormToggle" class="btn m-2 float-right"
					style="border:none;color:white;background:black;padding: 7px;">
				 	Update <i class="fas fa-edit"></i>
				</a><br><br>

				<form method="POST" v-if="addform" class="addForm" 
					enctype="multipart/form-data">{% csrf_token %}
					{{ updateform|crispy }}
					<input type="submit" class="submit-button" value="submit">
				</form>
			 </div>
			{% endif %}<br>
			<!-- Update assignment logic ends -->

			<!-- Assignment details -->
			<div id="assignment-content">
				<p style="font-weight: bold;text-align: center;font-size:1.2em;">
					{{ assignment.topic }}
				</p>
				<b style="float:right;">
				 	Submit Before <nobr>{{ assignment.submission_date }}</nobr>
				</b><br>
				{% if assignment.file %}
					{% if extension == 'image' %}
						<center>
							<a href="{{assignment.file.url}}">
								<img src="{{assignment.file.url}}" height="500" width="500">
							</a>
						</center> 
					{% elif extension == 'video' %}
						<center> 
							<video height="300" width="500" style="border:0;outline:0;" controls>
							  <source src="{{assignment.file.url}}" type="video/mp4">
							  <source src="{{assignment.file.url}}" type="video/ogg">
							Your browser does not support the video tag.
							</video><br>
						<a href="{{assignment.file.url}}" download> Download file</a>
						</center>
					{% else %}
						<a href="{{assignment.file.url}}" download> Download file</a>
					{% endif %}
				{% endif %}

				<pre>{{ assignment.description }}</pre>
			</div><br>
			<!-- Assignment details ends -->
			{% include 'comments/assignmentcomment.html' %}
		</div>
		
		<div class="col-sm-12 col-md-4">
			{% if is_teacher %}
				{% include 'assignments/assignment_submissions_teacher.html' %}
			{% else %}
				{% include 'assignments/assignment_submissions_student.html' %}
			{% endif %}
		</div>

	</div>
</div>
{% endblock %}