{% load crispy_forms_tags %}
<div id="assignment-container" class="text-align-center">
	<center>
		<div class="dropdown p-1">
			<button class="btn btn-light dropdown-toggle" type="button" 
					id="dropdownMenuButton" data-toggle="dropdown" 
					aria-haspopup="true" aria-expanded="false">
				Submissions
			</button>
			<div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
				<button style="margin:0;"class="btn btn-primary btn-block" onclick="show_all_submissions()">
					All Submissions
				</button>
				<button class="btn btn-success btn-block" onclick='show_ontime_submissions()'>
					Ontime Submissions 
				</button>
				<button class="btn btn-danger btn-block" onclick="show_late_submissions()"> 
					Late Submissions 
				</button>
				<button class="btn btn-primary btn-block" onclick="show_not_submitted()">
					Not submitted
				</button>
				<button class="btn btn-primary btn-block" onclick="cl()">
					Clear
				</button>
			</div>
		</div>
	</center>

	<span id="all_submissions">
		All submissions
		{% for submission in all_submissions %}
			<div class="alert alert-info">
				<a href="{{submission}}" download>
					Download {{ submission.file }}
				</a>
				submitted_by 
				<a href="/profile/{{ submission.submitted_by.username}}">
					{{ submission.submitted_by.first_name }} {{ submission.submitted_by.last_name }}
				</a>at {{ submission.submitted_on }}. 
				<div class="overlay">
					<form class="overlayform"method="POST">{% csrf_token %}
						<input type="hidden" name="id" value="{{submission.id}}">
						<input name="marks_assigned" placeholder="Assign/Reconsider Marks" type="number" 
						value = "{{submission.marks_assigned}}" max="{{assignment.full_marks}}">
						<input type="submit" class="btn btn-primary" id="assignMarks" 
							value="Assign marks">
				   </form>
				</div>
			</div>
		{% endfor %}
	</span>

	<span id="ontime">
		Ontime submissions
		{% for submission in ontime_submissions %}
			<div class="alert alert-light p-2" 
				style="box-shadow: 2px 4px 8px grey;border-radius:10px;">
				<a href="{{submission}}" download>
					{{ submission.file }} 
				</a>
				submitted_by {{ submission.submitted_by }} at
				 {{ submission.submitted_on }}.
			</div>
		{% endfor %}
	</span>

	<span id="late_submissions">
		late Submissions
		{% for submission in late_submissions %}
			<div class="alert alert-danger p-2" 
				style="box-shadow: 2px 4px 8px grey;border-radius:10px;">
				<a href="{{submission}}" download>
					{{ submission.file }} 
				</a>submitted_by 
				<a href="/profile/{{ submission.submitted_by }}">
					{{ submission.submitted_by }}
				</a> 
				at {{ submission.submitted_on }}.
			</div>
		{% endfor %}
	</span>

	<span id="not_submitted"><br>
		Not Submitted
		{% if not_submitted %}
			<form method="POST">{% csrf_token %}
				<input type="hidden" name="send_reminder" value="1">
				<input type="submit" value="Send Reminder" class="btn btn-dark float-right">
			</form><br><br>
			{% for student in not_submitted %}
				<div class="alert alert-light p-2" 
					style="box-shadow: 2px 4px 8px grey;border-radius:10px;">
					<a href="/profile/{{student.username}}">
						<img src="{{student.profile.profile_pic.url }}" 
							style="height:60px;width:70px;border-radius:10px"> 
						<span style="font-size: 1.3em;"> 
							{{ student.username|title }} 
						</span>
					</a>
				</div>
			{% endfor %}
		{% else %}
			<p style="font-size:1.3em;color:green;"> 
				Everyone have submitted their assignment.
			</p>
		{% endif %}
	</span>
</div>