{% extends 'snippets/subject_page.html' %}
{% load crispy_forms_tags %}
{% block title %} DETAILS {% endblock %}
{% load humanize %}
{% load comments %}
{% load filters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/detailpage.css' %}">
{% include 'django_quill/media.html' %}
{% endblock %}
{% block subject_content %}
<div style="padding:3px;" class="container-fluid">
	{% if is_teacher %}
		<div class="overlay">
			<form method="POST" id="updateform" class="addForm overlayform" 
				enctype="multipart/form-data">{% csrf_token %}
				<a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a> 
				{% for field in updateform %}
					{% if field.field.widget.input_type == 'file' %}
					<input type="file" name="file" id="actual-btn" hidden/>
					<label id="file-upload-label"for="actual-btn">
						{% if assignment.file %}
							{{ assignment.file|filebasename }}. Click to change
						{% else %}
						Upload File
						{% endif %}
					<i class="fa mx-2 fa-upload" aria-hidden="true"></i>
					</label>
					{% elif field.field.widget.input_type == 'datetime-local' %}
					<label for="id_submission_date">Submission date:</label><br>
					<input type="datetime-local" name="submission_date" value="{{assignment.submission_date}}" required id="id_submission_date">
					{% else %}
						{{ field.label_tag }}<br>
						{{ field }}
					{% endif %}
				{% endfor %}
				<center>
					<input type="submit" class="submit-button"value="Submit">
				</center>
			</form>
		</div>
	{% endif %}

	<div class="row d-flex justify-content-center">
		{% if form and assignment.submission_link %}
		<div class="col-sm-12 col-lg-4 mt-4 order-lg-2">
			<center style="border:4px solid rgb(30, 50, 150);padding:20px;">
				<h2 class="text-center reg-title"> Submit your assignment </h2>
				<form method="POST" id="submissionform" enctype="multipart/form-data">{% csrf_token %}
					<input type="file" name="file" id="actual-btn" hidden/>
					<label id="file-upload-label" style="background:rgb(90, 90, 186);width:90%;"for="actual-btn">
						{% if submission_object.file %}
							{{ submission_object.file|filebasename }}. Click to change
						{% else %}
						Upload your assignment
						{% endif %}
					<i class="fa mx-2 fa-upload" aria-hidden="true"></i>
					</label>
					<input type="hidden" name="id" value="{{submission.id }}"><br><br>
					<input type="submit" class="btn btn-primary" value="Hand in">
				</form><br>
			</center>
		</div>
		{% elif form and not assignment.submission_link %}
			<div class="col-sm-12 col-lg-3 mt-4 order-lg-2" 
				style="border:3px solid black;box-sizing:content-box;">
				<h2 class="heading1 text-center text-primary"> Submission link is closed. Please ask your teacher or admins to open submission link. </h2>
			</div>
		{% endif %}

		<div class="col-sm-12 col-lg-8 order-lg-1">
			<!-- Update assignment logic start -->
				<div class="row d-flex justify-content-end ">

					{% if is_teacher %}
					<button  class="btn btn-danger mx-1 my-2 buttons" 
						value="{% url 'delete_assignment' classroom.unique_id subject.id assignment.id %}"
						style="background:red;"
						data-entity="user" id="userDeleteButton"
						>
						Delete <i class="fa fa-trash" aria-hidden="true"></i>
					</button>
					{% include 'snippets/deleteconfirm.html' %}
					
					<button 
						onclick="on(document.getElementsByClassName('overlay')[0])"
						style="background:black;color:white;" 
						class="btn my-2 mx-1 buttons">
							Update <i class="fas fa-edit"></i>
					</button>
					<a
					href="{% url 'assignment-handle' classroom.unique_id subject.id assignment.id %}"
					style="background:black;color:white;" 
					class="btn my-2 mx-1 buttons">
						Assign Marks<i class="fas fa-edit"></i>
					</a>
					{% endif %}
					<a class="btn btn-dark mx-1 my-2 bg-primary buttons" 
						href="/profile/{{assignment.assigned_by}}">
						Contact <i class="fas fa-phone-volume"></i>
					</a>
				</div>

				<!-- Assignment details -->
				<div id="detail-content">
					<p id="detail-topic">
						{{ assignment.topic }}
					</p>
					<b id="submission-date" >
						Submit Before <nobr>{{ assignment.submission_date }}</nobr>
					</b><br>
					{% if assignment.file %} 
						{% if extension == 'image' %}
							<a href="{{assignment.file.url}}">
								<img src="{{assignment.file.url}}" id="media-container">
							</a>
						{% elif extension == 'video' %}
							<video height="300" width="500" id="media-container" controls>
									<source src="{{assignment.file.url}}" type="video/mp4">
									<source src="{{assignment.file.url}}" type="video/ogg">
								Your browser does not support the video tag.
								</video><br>
							<a href="{{assignment.file.url}}" style="text-align: center;" download> Download file</a> 
						{% else %}
							<a href="{{assignment.file.url}}" style="text-align: center;" download> Download file</a> 
						{% endif %} 
					{% endif %}
					<div class="ql-editor">{{ assignment.description.html|safe }}</div>
				</div><br>
				<!-- Assignment details ends -->
				{% include 'snippets/comments/assignmentcomment.html' %}
			</div>
	</div>
</div>
{% endblock %}