{% load socialaccount %}
{% load account %}
<div class="row">
    <div class="col-2">
        <div style="float:right;" id="mySidenav" class="sidenav">
            <button class="closebtn" onclick="closeNav()">
              &times;
            </button >
            <a href="{% url 'home' %}" onclick="closeNav()">
              <i class="fas fa-home mr-2"></i> Home
            </a> 
            {% if classroom %}
                <a href="{% url 'polls' classroom.unique_id %}">
                    <i class="fas fa-vote-yea mr-2"></i> Polls
                </a>
                <a href="{% url 'classroom_page' classroom.unique_id %}">
                  <i class="fas fa-chalkboard-teacher mr-2"></i>Classroom
                </a>
            {% endif %}

            {% if classes %}
                <h4 style="text-align:center;font-weight: bolder;"> 
                    Switch classroom 
                </h4>
                {% for class in classes %}
                    <a href="{% url 'subjects' class.unique_id %}" onclick="closeNav()">
                      <i class="fas fa-chalkboard-teacher mr-2"></i> {{ class.class_name }}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="px-2 bg-light" style="background:white;height:65px;box-shadow:0px 4px 10px rgb(146, 144, 144);">
    <span class="pl-1 mb-4" id="openNav" onclick="openNav()">
        &#9776;
    </span>
    {% if classroom %}
        <span style="font-size:1.6em;margin-left:20px;position:relative;top:16px;">
            &nbsp;  {{ classroom.class_name }}
        </span>
    {% endif %}

    
    {% if  user.is_authenticated %}
    {% get_social_accounts user as accounts %}
    <i id="left" class="fas mr-2 float-right fa-chevron-left"></i>
    <div id="co" class="float-right user-icon mr-4 mt-3 text-dark"  onclick="on(_('dropdown-container'))" >
        <img id="icon" height="50" width="50" 
        style="position:relative;top:-10px;right:-40px;border-radius:15%;"
        {% if accounts %} 
        src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
        {% else %}
        src="{{ user.profile.profile_pic.url }}"
        {% endif %}>
    </div>

    <div id="dropdown-container" style="flex-direction: column;"class="bg-dark float-right text-dark">
        <a class="text-light d-block" href="{% url 'profile' user.username %}">
            Profile
        </a>
        <a class="text-light d-block" href="{% url 'logout' %}">
            Log Out
        </a>
    </div>
    {% endif %}
</div>
</div>