{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block subject_content %}
<div class="container">

	{% if is_teacher %}
      	 <button 
      	 	onclick = "on(document.getElementsByClassName('overlay')[0])"
      	 	type="button" 
      	 	class="btn add-btn float-left mt-4">
      	 	Add 
      	 	<i class="fa fa-plus" aria-hidden="true"></i>

		</button><br>
	{% endif %}

	{% if announcements %}
	<form class="float-right search-container">
      	<input class="search-input" autocomplete="off" type="text"
      		 placeholder="Search..."name="search">
      	<button class="search-icon" type="submit">
      	 	<i class="fas fa-search"></i>
      	</button>
	</form><br><br>
	{% endif %}

	{% if form %}

		<div class="overlay">
		<form method="POST" id="addform" style="display:block;width:60%;background:white;" class="addForm overlayform" 
			enctype="multipart/form-data">{% csrf_token %}
			<a onclick = "toggleBlockForm(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a> 
			{{ form|crispy}}
			<input type="submit" class="submit-button"value="submit">
		</form>
		</div>
    {% endif %}

	{% if announcements %}
		<div style="min-height:500px;">
			{% for announcement in announcements %}

				<a class="link" 
					href="{% url 'announcement_page' classroom.unique_id subject.id announcement.id %}">

					<div class="content" style="padding:5px;">
						0{{ forloop.counter}} {{ announcement.subject }}<br><br>
						<div class="time">
							<span style="float:right;">
								Announced <nobr>{{announcement.issued_on|naturaltime }} </nobr>
							</span>
						</div><br>
					</div>

				</a>
				
			{% endfor %}<br>

			{% include 'paginations.html' %}
		</div>

	{% else %}<br>

		<h2 style="text-align:center;margin-top:60px;color:green;font-weight: bolder;">
			No announcements made yet. 
		</h2>

	{% endif %}

</div>
{% endblock %}