{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load comments %}
{% load humanize %}
{% block subject_content %}
<div class="container">
   <div class="row ">
	<div class="col">
		{% if is_teacher %}
		<div id="contain">
			<a class="btn btn-danger m-2 float-right" 
				style="border:none;color:white;background:red;padding: 7px;"
				href="{% url 'delete_announcement' classroom.unique_id subject.id announcement.id %}">
				Delete <i class="fa fa-trash" aria-hidden="true"></i>
			</a>

			<a class="btn btn-dark m-2 float-right" 
				style="border:none;color:white;padding: 7px;"
				href="/profile/{{announcement.announced_by}}">
				Contact <i class="fas fa-phone-volume"></i>
			</a>

			<a @click="updateFormToggle" style="border:none;color:white;background:black;padding: 7px;"
			 class="btn m-2 float-right">
			 Update <i class="fas fa-edit"></i>
			</a><br><br>

		  	<form method="POST" v-if="updateform"class="addForm" 
		  		enctype="multipart/form-data">{% csrf_token %}
				{{ updateform|crispy }}
				<input type="submit" class="submit-button" value="submit">
		  	</form>
		</div>
		{% endif %}<br>
		
		<div id="announcement-content">
			<p style="font-weight: bold;text-align: center;font-size:1.2em;">
				{{announcement.subject}}
			</p>
			{% if announcement.file %}
				{% if extension == 'image' %}
					<center>
						<a href="{{announcement.file.url}}">
							<img src="{{announcement.file.url}}" height="500" width="500">
						</a>
					</center> 
				{% elif extension == 'video' %}
					<center> 
						<video height="300" width="500" style="border:0;outline:0;" controls>
						  <source src="{{announcement.file.url}}">
						Your browser does not support the video tag.
						</video><br>
					<a href="{{announcement.file.url}}" download> Download file</a>
					</center>
				{% else %}
					<a href="{{announcement.file.url}}" download> Download file</a>
				{% endif %}
			{% endif %}
			<pre>{{ announcement.description }}</pre>
		</div><br>
		{% include 'comments/announcementcomment.html' %}
	</div>
  </div>
</div>
{% endblock %}