{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load comments %}
{% load humanize %}
{% block subject_content %}
<div class="container">
   <div class="row ">
	<div class="col">
		<a class="btn btn-danger m-2 float-right" href="{% url 'delete_announcement' classroom.unique_id subject.id announcement.id %}">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
		<a class="btn btn-primary m-2 float-right" href="{% url 'update_announcement' classroom.unique_id subject.id announcement.id %}">Update <i class="fas fa-edit"></i></a>
		{{announcement.subject}}<br><br>
		{% if announcement.file %}
			<a href="{{note.file.url}}" download>Download file </a><br>
		{% endif %}
		{{ announcement.description|linebreaks }}
			<br><br>
		{% get_comment_count for announcement as comment_count %}
			{{ comment_count }} Comments

		{% if user.is_authenticated %}
		    {% get_comment_form for announcement as form %}
		       <form action="{% comment_form_target %}" method="POST">{% csrf_token %}
		    	<textarea name="comment" style="width:100%;resize:none;" rows="4" maxlength="3000" required id="id_comment"> </textarea>
		    	{% if form.name == "honeypot" %} style="display:none;" {% endif %}
		    	{{ form.content_type }}
		    	{{ form.object_pk }}
		    	{{ form.timestamp }}
		    	{{ form.security_hash }}
		    	<input type="hidden" name="next" value="{% url 'announcement_page' classroom.unique_id subject.id announcement.id %}" />
		    	<input type="submit" style="width:130px;" class="btn btn-primary float-right" value="Add comment" 
		    	id="id_submit" />
		    	</form>
		{% else %}
    		<p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
		{% endif %}

		<br><br>
			{% get_comment_list for announcement as comment_list %}
			{% for comment in comment_list %}
				<div class="alert p-2 w-75">
					<a href="/profile/{{comment.user.username}}">
					<img class="float-left m-2 mr-4"style="border-radius: 50%;"src="{{comment.user.profile.profile_pic.url }}"height="60" width="60"></a><b>{{ comment.user.username}}</b> <br>
					{{ comment.comment }}<br><span style="float:right;">Commented {{ comment.submit_date|naturaltime }}</span>
				<br><br>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}