{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block subject_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-0 col-md-1 col-lg-1 p-4 mr-4"></div>
			<div class="col-sm-12 col-md-8 ml-md-4 col-lg-8">
			<form>
			<div class="d-flex justify-content-end">
   			 <div class="searchbar">
      			<input class="search_input" type="text" name="search" placeholder="Search by subject or description...">
      			<button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
    		</div>
  			</div>
  			</form><br>
  			{% if announcements %}
			{% for announcement in announcements %}
				<a style="cursor: pointer;text-decoration: none;" href="{% url 'announcement_page' classroom.unique_id  subject.id announcement.id %}">
				<div class="alert alert-info p-4">
					{{ announcement.subject|safe }}<br>
					<b style="float:right;"> Issued  <nobr>{{announcement.issued_on|naturaltime }} </nobr> by {{announcement.user}}</b><br>

				</div>
				</a>
				<hr>
			{% endfor %}
			{% include 'paginations.html' %}
			{% else %}
				<h2> No announcements made yet. </h2>
			{% endif %}
		</div>

		<button type="button" style="height:50px;border-radius:15px;float:right;"class="btn float-right btn-info m-2" data-toggle="modal" data-target="#addAnnouncement">
		  Add <i class="fa fa-plus" aria-hidden="true"></i>
		</button>
		<div class="modal fade " id="addAnnouncement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content bg-info">

		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Add an announcement.</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      
		      {% if form %}
			  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
		      <div class="modal-body">
					{{ form|crispy }}
				</div>

		      <div class="modal-footer">
				<input type="submit" class="btn btn-primary float-right"value="submit">
				</form>
				{% endif %}
		      </div>
		    </div>
		  </div>
	</div>
</div>
{% endblock %}