{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block subject_content %}
<div class="container">

	<form>
		<div class="d-flex justify-content-end">
   			<div class="searchbar">
      			<input class="search_input" type="text" name="search" 
      				placeholder="Search by subject or description...">
      			<button type="submit" class="search_icon">
      				<i class="fas fa-search"></i>
      			</button>
    		</div>
  		</div>
  	</form><br>

	{% if announcements %}

		<div style="min-height:500px;">
		{% for announcement in announcements %}
			<a style="cursor: pointer;text-decoration: none;"
				href="{% url 'announcement_page' classroom.unique_id  subject.id announcement.id %}">

				<div class="alert alert-info p-4">
					<pre>{{ announcement.subject }}</pre><br>

					<b style="float:right;">
						 Announced <nobr>{{announcement.issued_on|naturaltime }} </nobr>
					</b>

				</div>
			</a><hr>
		{% endfor %}
		</div>

		{% include 'paginations.html' %}

	{% else %}
	
		<h2> No announcements made yet. </h2>

	{% endif %}

	{% if form %}
	<button type="button" class="btn float-right btn-info m-2" 
		data-toggle="modal" data-target="#addAnnouncement">
	  Add <i class="fa fa-plus" aria-hidden="true"></i>
	</button>

	<div class="modal fade " id="addAnnouncement" tabindex="-1" role="dialog" 
		aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content bg-info">

	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Add an announcement.</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>

	       <div class="modal-body">
			  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
				{{ form|crispy }}
				<input type="submit" class="btn btn-primary float-right"value="submit">
				</form>
	       </div>

	    </div>
	  </div>
    </div>
    {% endif %}
</div>
{% endblock %}