{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load comments %}
{% load static %}
{% block subject_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-6">

			<!-- Update assignment logic start -->
			{% if is_teacher %}
				<a class="btn btn-danger m-2 float-right" 
					href="{% url 'delete_assignment' classroom.unique_id subject.id assignment.id %}">
					Delete <i class="fa fa-trash" aria-hidden="true"></i> 
				</a>

				<a class="btn btn-primary m-2 float-right" data-toggle="modal" 
					data-target="#updateresource">
				  Update <i class="fas fa-edit"></i>
				</a>

				<!-- Modal -->
				<div class="modal fade " id="updateresource" tabindex="-1" 
					role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content bg-info">

				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>

				      <div class="modal-body">
						  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
							{{ updateform|crispy }}
							<input type="submit" class="btn btn-primary float-right"value="submit">
						  </form>
				      </div>

				    </div>
				  </div>
				</div>
			{% endif %}
			<!-- Update assignment logic ends -->

			<!-- Assignment details -->
			{{ assignment.topic }}<br>
				<b style="float:right;">
					 Submit Before <nobr>{{ assignment.submission_date }}</nobr>
				</b><br>
				<pre>{{ assignment.description }}</pre> 

				<br><br>
			<!-- Assignment details ends -->
			{% include 'assignmentcomment.html' %}
		</div>
		
		<div class="col"style="float:right;">
			<!-- Submission shown to teacher -->
			{% if is_teacher %}
			<div id="assignment-container">

				<button class="btn btn-primary mb-2" @click="show_all_submissions">
					All Submissions
				</button>

				<button class="btn btn-success mb-2" @click='show_ontime_submissions'>
					Ontime Submissions 
				</button>

				<button class="btn btn-danger mb-2" @click="show_late_submissions"> 
					Late Submissions 
				</button>

				<button class="btn btn-primary mb-2" @click="show_submitted">
					Submitted  
				</button>
				<button class="btn btn-primary mb-2" @click="show_not_submitted">
					Not submitted
				</button>

				<span v-if="all_submissions">
					{% for submission in all_submissions %}
						<div class="alert alert-info">
							<a href="{{submission}}" download>
								{{ submission.file }} 
							</a>
							submitted_by {{ submission.submitted_by }} at
							{{ submission.submitted_on }}. 
							 <form method="POST">{% csrf_token %}
							 	<input type="hidden" name="id" value = "{{submission.id}}">
							 	<input name="marks_assigned" type="number" value = "{{submission.marks_assigned}}" max="100">
							 	<input type="submit" id="assignMarks" onclick="fun" value = "Submit">
							</form>
						</div>
					{% endfor %}
				</span>

				<span v-if="ontime_submissions">
					{% for submission in ontime_submissions %}
						<div class="alert alert-success">
								<a href="{{submission}}" download>
									{{ submission.file }} 
								</a>
								submitted_by {{ submission.submitted_by }} at
								 {{ submission.submitted_on }}.
						</div>
					{% endfor %}
				</span>

				<span v-if="late_submissions">
				{% for submission in late_submissions %}
					<div class="alert alert-danger">
							<a href="{{submission}}" download>
								{{ submission.file }} 
							</a>
							submitted_by {{ submission.submitted_by }} at 
							{{ submission.submitted_on }}. 
					</div>
				{% endfor %}
				</span>

				<span v-if="submitted">
				{% for student in submitted %}
					<div class="alert">
							<a href="/profile/{{student.username}}">
								{{student.username}} 
							</a>
					</div>
				{% endfor %}
				</span>

				<span v-if="not_submitted">
				{% for student in not_submitted %}
					<div class="alert">
							<a href="/profile/{{student.username}}">
								{{student.username}}
							 </a>
					</div>
				{% endfor %}
				</span>

			</div>
			{% else %}
				<!-- Submission form for students  -->
				{% if not is_teacher %}
					Submit your assignment:
					<form method="POST" enctype="multipart/form-data">{% csrf_token %}
						{{ submissionform|crispy }}
						<input type="submit" style="width:150px;float:right;"
						 class="btn btn-primary" value="submit">
					</form>
				{% endif %}

				{% if not submission %}
					<h2 style="color:red;"> 
						You have not submitted your assignment yet!!! 
					</h2>
				{% else %}
					{% for data in submission %}
						<h2 style="color:green;">
							You have submitted your assignment!!! 
							<a href="{{submission}}" download>
								Download
							</a>
						</h2>
					{% endfor %}
				{% endif %}

			{% endif %}
		</div>
	</div>
</div>
<script>
	function fun(){
		alert('hello')
	}
</script>
{% endblock %}