<div id="contactus" class=" bg-light container-fluid">
    <footer class="page-footer text-dark container font-small mdb-color lighten-3 p-2">

        <div style="font-size: 1.2em;" class="text-center text-md-left">
            <div class="row">


                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">


                    <center>
                        <h5 class="font-weight-bold text-uppercase mb-4">Content</h5>
                    </center>
                    <p>
                        GURU Learning management system has been designed to help students and teachers to overcome barriers. It delivers the promise of unhindered, hassle-free, academic instruction and evaluation over the internet.
                    </p>
                </div>

                <hr class="clearfix w-100 d-md-none">
                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <center>
                        <h5 class="font-weight-bold text-align-center text-uppercase mb-4">Address</h5>
                    </center>

                    <i class="fa fa-home mr-3 my-3"></i>Tinsukia, Assam<br>
                    <i style="display:inline;" class="fa fa-envelope my-3 mr-3"></i>vishalpandeynits@gmail.com<br>
                    <i class="fa fa-phone my-3 mr-3"></i> +919957767675
                </div>


                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                    <center>
                        <h5 class="font-weight-bold text-align-center text-uppercase mb-4">Follow Me</h5>
                    </center>
                    <a href="https://www.facebook.com/bishal.panday.9275" type="button" class="btn-floating mb-3 btn-fb">
                        <i class="text-dark fab fa-facebook-f fa-2x"></i>
                    </a><br>
                    <a href="https://www.linkedin.com/in/vishal-pandey-63262b1a0/" type="button" class="btn-floating mb-3  btn-tw">
                        <i class="fab text-dark fa-linkedin fa-2x"></i>
                    </a><br>
                    <a href="https://github.com/vishalpandeyvip/" type="button" class="btn-floating  btn-github">
                        <i class="fab text-dark fa-github fa-2x "></i>
                    </a><br><br>
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="vishalpandey" data-color="#000000" data-emoji="" data-font="Arial" data-text="Donate" data-outline-color="#fff" data-coffee-color="#fd0"></script>
                </div>

            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
    </footer>