{% extends 'base.html' %}
{% load static %}
{% block title %} Home view {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<p style="background:black; color:white; font-size:25px;cursor:pointer;width:40px;margin:10px; padding:8px; border-radius:50%;"onclick="openNav()">&#9776;</p>
<div class="container-fluid">
  
	<div class="row">

		<div class="col-sm-1 col-md-2">
		<div style="float:right;" id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#youtube" onclick="closeNav()">Profile</a>
			{% if user.is_authenticated %}
			<a id="show-account"style="color:green;" onclick="showaccount()">{{user.username}}</a>
				<span id="account" style="display:none;">
					<a style="font-size: 1.3em;margin:0;" href="{% url 'logout' %}">Log Out </a>
					<a style="font-size: 1.3em;margin:0;" href="{% url 'password_change' %}">Change Password </a>
				</span>
			{% endif %}
		</div>
		</div>

		<div class="col-sm-11 col-md-10">
			<div id="home-btn-container">
				<h2 id="intro col-md-6" style="font-size:5vw;"> Online classes made easy by your own GURU.</h2>
				<a href="#" onclick ="createclassform()"class = "btn btn-home">Create a class </a>
				<a href="#"  onclick ="joinform()" class = 'btn btn-home'>Join a class </a><br>

				<div class="col-md-4 col-xs-12 col-sm-6">			
					<form id="classform" style="display:none;" method="POST">{% csrf_token %}
						{{ createclassform }}  
						<input style="width:35%;float:right;" type="submit" value="Create" class="btn btn-success m-2">
					</form>
				</div>


					<div >	
						<form id="joinform" style="display:none;" method="POST">{% csrf_token %}
						Unique id <input type="text" name="join_key">
						<input style="width:35%;float:right;"type="submit" value="Join" class="btn btn-success m-2">
					</form>
					</div><br><br>


				The list of classes you have created:<br>
				{% for class in my_classes %}
					<div style="color:white; background:black;height:120%;" class="alert alert-primary" role="alert">
  						<a href="{% url 'subjects' class.unique_id %}">	{{ class|upper }} </a> 
  						<span style="float:right"> {{ class.unique_id}}</span>
					</div>
				{% endfor %}

				The list of classes you have joined:<br>
				{% for class in class_name %}
	
				<div style="color:white; background:black;" class="alert">
					<a href="{% url 'subjects' class.unique_id %}">	{{ class|upper }} </a>
					<span style="float:right;"> {{ class.teacher.first_name}} {{ class.teacher.last_name}}  </span>	
				</div>

				{% endfor %}

			</div>
		</div>
	</div>
</div>
{% endblock %} 