{% extends 'base.html' %}
{% load static %}
{% block title %} Home view {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<a class="btn btn-outline-primary float-right" href="{% url 'profile' user.username %}">{{ user.username }}</a>
	<div class="row">
		<div class="col-sm-11 col-md-10">
			<div id="home-btn-container">
				<div id="vuecontainer">
					<h2 id="col-md-6" style="font-size:5vw;"> Online classes made easy by your own GURU.</h2>
					<button v-on:click="create" class="btn btn-home">Create a class </button>
					<button v-on:click="join" class='btn btn-home'>Join a class </button> <br>


					<form v-if="createclassform" id="classform" method="POST">{% csrf_token %} 
						{{ createclassform|crispy }}
						<input type="submit" value="Create" class="btn btn-success m-2"> 
					</form>
				

					<form v-if="joinform" id="joinform" method="POST">{% csrf_token %} Unique id<br>
						<input type="text" placeholder="Unique ID"name="join_key"><br>
						<input type="submit" value="Join" class="btn btn-success m-2">
					</form><br><br> 
				</div> 
				{% if my_classes %} 
					The list of classes you are member of:<br>
					{% for class in my_classes %}
						<div style="color:white; background:black;height:120%;" class="alert alert-primary" role="alert"> 
							<a href="{% url 'subjects' class.unique_id %}">	{{ class|upper }} </a> 
							<span style="float:right"> {{ class.unique_id}}</span> 
						</div> 
					{% endfor %} 
				{% endif %} 
			</div>
		</div>
	</div>
</div>
<script>
  var homepage = new Vue({
    el:'#vuecontainer',
    data:{
      joinform:false,
      createclassform:false,
    },
    methods:{
      create:function(){
        this.createclassform=true;
        this.joinform=false;
      },
      join:function(){
        this.createclassform=false;
        this.joinform=true;
      }
    }
  })
</script>
{% endblock %} 