{% extends 'base.html' %}
{% load static %}
{% block title %} Home view {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="home-btn-container">
	<a href="{% url 'homepage' %}"  class = 'btn btn-home'> LOG IN </a>
	<br><br>
	<h1 id="intro" style="font-size:5vw;"> Online classes made easy by your own GURU.</h1>
</div>
{% else %}
<div id="home-btn-container">
	<a href="{% url 'signup' %}" class = "btn btn-home">SIGN UP </a>
	<a href="{% url 'login' %}"  class = 'btn btn-home'> LOG IN </a>
	<br><br>
	<h1 id="intro"> Online classes made easy<br> by your own GURU.</h1>
</div>
{% endif %}
{% endblock %}