{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div>
	<div class="row">
		{% include 'navigation.html' %}
	</div>
	<div class="row">

		<div id="home-btn-container">

			<div id="vuecontainer">

				<h2 id="col-md-6" style="font-size:4vw;"> 
					Online classes made easy by your own GURU.
				</h2>

				{% if messages %}
					<div class="messages">
					    {% for message in messages %}
					    	<div class='alert alert-{{ message.tags }}'>{{ message }} </div>
					    {% endfor %}
					</div>
				{% endif %}

				<button onclick="on()" class="btn btn-home">
					Create a
					 class
				</button>

				<button @click="join" class='btn btn-home'>
					Join a class 
				</button> <br>


				<div id="overlay" >
					<form id="classform" method="POST"> {% csrf_token %}

						<a onclick="off()" id="close"> &times;</a> 

						{{ createclassform|crispy }}
						<input type="submit" value="Create" class="btn btn-success m-2"> 

					</form>
				</div>

				<form v-if="joinform" id="joinform" 
					method="POST">{% csrf_token %} 
					Unique id: <br>
					<input type="text" placeholder="Unique ID"name="join_key"><br>
					<input type="submit" value="Join" class="btn btn-success float-right m-2"><br><br>
				</form>

			</div> <br>

			{% if classes %} 

				<div class="row">
					{% for class in classes %}

						<div class="col-xs-12 col-md-6 col-lg-4">

							<a class="text-center" style="color:white;"
								href="{% url 'subjects' class.unique_id %}">

								<div class="subject-container">

								  <img src="{{class.classroom_pic.url }}" 
								  	style="width:100%;height:350px;">

								  <div class="content">
									    <h1>{{ class|upper }} </h1>
									    <p>by {{ class.created_by }}</p>
								  </div>

								</div>

							</a>

						</div>

					{% endfor %}
				</div>

			{% else %}

			<h1 style="text-align:center;">

				 You are not a member of any class. 

			</h1>

			{% endif %}

		</div>
	</div>
</div>
{% endblock %} 