<div class="row" >
    <div class="col-2">
        <div style="float:right;" id="mySidenav" class="sidenav">
          <button class="closebtn" onclick="closeNav()">
            &times;
          </button >
          <a href="{% url 'homepage' %}" onclick="closeNav()">
            <i class="fas fa-home mr-2"></i> Home
          </a><br>
          <h4 style="text-align:center;font-weight: bolder;"> Switch classroom </h4>
          {% for class in classes %}
            <a href="{% url 'subjects' class.unique_id %}" onclick="closeNav()">
              <i class="fas fa-chalkboard-teacher mr-2"></i> {{ class.class_name }}
            </a>
          {% endfor %}
        </div>
    </div>

    <div class="col-12">
      <div style="background:black;" class="p-1">
        <span class="pl-1 ml-2" id="openNav" onclick="openNav()">
          &#9776; 
        </span>
        <span style="font-size:2.5em;color:white;">
          &nbsp; {{ classroom.class_name }}
        </span>
        <a style="color:white;font-size:2.3em;"  class="float-right mx-2 mt-2" href="{% url 'profile' user.username %}"> 
          <i class="fas fa-user mr-2"></i>
        </a>
        <a class="btn btn-light float-right mx-2 mt-3" href="{% url 'polls' classroom.unique_id %}">Polls</a>
        <a class="btn btn-light float-right mx-2 mt-3" href="/classroom/{{classroom.unique_id}}/">
          Classroom
          {% if pending_members %}
            {{pending_members|length}}
          {% endif %}
        </a>
      </div>
    </div>
</div>