{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% block subject_content %}
{% load humanize %}
{% load comments %}
<div class="container">
	<div class="row">
		<div class="col">
			<a class="btn btn-danger m-2 float-right" href="{% url 'delete_resource' classroom.unique_id subject.id note.id %}">Delete <i class="fa fa-trash" aria-hidden="true"></i> </a>
			<a class="btn btn-primary m-2 float-right" href="{% url 'update_resource' classroom.unique_id subject.id note.id %}">Update <i class="fas fa-edit"></i></a>
			{{note.topic}}<br><br>
			{% if note.file %}
			<a href="{{note.file.url}}" download>Download file </a><br>
			{% endif %}
			{{ note.description|safe }}
			<br><br><br>

		{% get_comment_count for note as comment_count %}
			{{ comment_count }} Comments
		<p style="font-size:1.3em;"> Class comment </p>
		{% if user.is_authenticated %}
		    {% get_comment_form for note as form %}
		    <form action="{% comment_form_target %}" method="POST">
		    {% csrf_token %}
		    <textarea name="comment" style="width:100%;resize:none;" rows="4" maxlength="3000" required id="id_comment"> </textarea>
		    {% if form.name == "honeypot" %} style="display:none;" {% endif %}
		    {{ form.content_type }}
		    {{ form.object_pk }}
		    {{ form.timestamp }}
		    {{ form.security_hash }}
		    <input type="hidden" name="next" value="{% url 'read_note' classroom.unique_id subject.id note.id %}" />
		    <input type="submit" style="width:130px;" class="btn btn-primary  float-right" value="Add comment" id="id_submit" />
		    </form>
		{% endif %}
		<br><br>
		<!-- {% render_comment_list for note %} -->
	{% get_comment_list for note as comment_list %}
	{% for comment in comment_list %}
		<div class="alert p-2 w-75">
			<a href="/profile/{{comment.user.username}}">
			<img class="float-left m-2 mr-4"style="border-radius: 50%;"src="{{comment.user.profile.profile_pic.url }}"height="60" width="60"></a><b>{{ comment.user.username}}</b> <br>
			{{ comment.comment }}<br><span style="float:right;">{{ comment.submit_date|naturaltime }}</span>
		<br><br>
		</div>
	{% endfor %}

		</div>
	</div>

</div>
{% endblock %}