<div style="float:right;" id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href='{% url "subject_page" classroom.unique_id subject.id %}' onclick="closeNav()">Home</a>
	<a href="#symptoms" onclick="closeNav()">Notes</a>
	<a href="#preventions" onclick="closeNav()">Assignment</a>
	<a href="#mythbusters" onclick="closeNav()">Announcement</a>
	<a href="#" onclick="closeNav()">Discussion</a> 
	<a href="#youtube" onclick="closeNav()">Attend Class</a>
	<a href="#youtube" onclick="closeNav()">Profile</a>
	{% if user.is_authenticated %}
	<a id="show-account"style="color:green;" onclick="showaccount()">{{user.username}}</a>
		<span id="account" style="display:none;">
			<a style="font-size: 1.3em;margin:0;" href="{% url 'logout' %}">Log Out </a>
			<a style="font-size: 1.3em;margin:0;" href="{% url 'password_change' %}">Change Password </a>
		</span>
	{% endif %}
</div>