{% extends 'base.html' %}
{% load static %}
{% block title %} Home view {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid m-2">
	<center>
		<img src="{% static 'classroom.jpg' %}" style="height:20vw;" class="d-block w-50">
	</center>
	<div id="vue-container">

		<center id="homepage-btn-group">
			<button @click="toggleSubjects">Subjects</button>
			<a href="{% url 'polls' classroom.unique_id %}">Polls</a>
			<button @click="toggleMembers">Members</button>
			{% if form %}
				<button v-if="subjects" type="button" style="height:50px;border-radius:15px;position:relative;right:0;"
					class="btn float-right btn-info m-2" data-toggle="modal" data-target="#addAnnouncement"> Add <i
						class="fa fa-plus" aria-hidden="true"> </i>
				</button>
			{% endif %}
		</center>

		<!-- Subjects -->
		{% if form %}
		<div class="modal fade " id="addAnnouncement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content bg-info">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add a Subject.</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="POST" enctype="multipart/form-data">{% csrf_token %}
						<div class="modal-body">
							{% for field in form %}
								{{ field.label }} {{ field }}
							{% endfor %}
						</div>

						<div class="modal-footer">
							<input type="SUBMIT" class="btn btn-success float-right" value="Add subject">
						</div>
					</form>
				</div>
			</div>
		</div>
		{% endif %}

		<div v-if="subjects" class="row">
			{% for subject in subjects %}
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div style="background:url('/media/bga.jpg');background-size:cover;background-position:center;"
					id="card" class="card">
					<a class="text-center" id="class-link"
						href='{% url "subject_page" classroom.unique_id subject.id %}'>
						<div id="subject-name">{{ subject|upper }}</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>


		<div v-if="members">

			{% for teacher in teachers %}
			<div class="row">
				<div class="member-card">
					<div class="wrapper">
						<br/>
						{% if is_teacher %}
						<div class="opts">
							<div class="dropdown">
								<div class="dropbtn">...</div>
								<div class="dropdown-content">
									<a href="{% url 'remove_member' classroom.unique_id teacher.username %}">Remove from classroom</a>
									<a href="{% url 'remove_admin' classroom.unique_id teacher.username %}">Remove from teacher position</a>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
					<img src="{{teacher.profile.profile_pic.url}}">
					<div class="member-container">
						<h4><b>{{ teacher.username }} &nbsp; &nbsp; <span style="float:right;color:green;">Teacher</span></b></h4>
						<p>{{teacher.profile.bio}}</p>
					</div>
				</div>
				{% endfor %}

				{% for student in students %}
				<div class="row">
					<div class="member-card">
						<div class="wrapper">
							<br/>
							<div class="opts">
								<div class="dropdown">
									<div class="dropbtn">...</div>
									<div class="dropdown-content">
										{% if is_teacher %}
										<a href="{% url 'remove_member' classroom.unique_id student.username %}">Remove from classroom</a>
										<a href="{% url 'make_admin' classroom.unique_id student.username %}">Make Teacher</a>
										{% else %}
										{% if user.username == student.username %}
										<a href="{% url 'remove_member' classroom.unique_id user.username %}"> Leave classroom</a>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<img src="{{student.profile.profile_pic.url}}">
						<div class="member-container">
							<h4><b>{{ student.username }} &nbsp; &nbsp;</b></h4>
							<p>{{student.profile.bio}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
		<!-- Subjects end  -->

	</div>
	<script>
		new Vue({
			el: '#vue-container',
			data: {
				subjects: true,
				polls: false,
				members: false,
			},
			methods: {
				toggleSubjects: function () {
					this.subjects = true;
					this.members = false;
				},
				togglePolls: function () {
					this.subjects = false;
					this.members = false;
				},
				toggleMembers: function () {
					this.subjects = false;
					this.members = this.members === true ? false : true;
				}
			}
		})
	</script>
{% endblock %}