{% extends 'base.html' %}
{% load static %}
{% block title %} Home view {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
		<div class="col-2">
		<div style="float:right;"id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav(this)">
				&times;
			</a>
			<a href="{% url 'resources' classroom.unique_id subject.id  %}" onclick="closeNav(this)">
				Resources
			</a>
			<a href="{% url 'assignments' classroom.unique_id subject.id  %}" onclick="closeNav(this)">
				Assignment
			</a>
			<a href="{% url 'announcement' classroom.unique_id subject.id %}" onclick="closeNav(this)">
				Announcement
			</a>
			<a href="{% url 'this_subject' classroom.unique_id subject.id %}" onclick="closeNav(this)"> 
				This Class 
			</a><hr>
			<a href="{% url 'homepage' %}" onclick="closeNav(this)">
				Home
			</a>
			<a href="{% url 'subjects' classroom.unique_id %}" onclick="closeNav(this)"> 
				Subjects 
			</a>
			<a href="{% url 'profile' user.username %}" onclick="closeNav(this)"> 
				{{ user.username|title }} 
			</a>
		</div>
		</div>
		<div class="col-12">
			<div class="bg-info p-2">
				<span class="pl-1" id="openNav" onclick="openNav()">
					&#9776;
				</span>
				<span style="font-size:3em">
					&nbsp; {{ subject.subject_name|title }}
				</span>
			</div>
			{% block subject_content %} {% endblock %}
		</div>
</div>
{% endblock %}