{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block subject_content %}
<style>
	#overlayform .subject_description{
    height:200px !important;
}
</style>
<div class="container">

	<div class="subject-intro">
		<div id="subject-name">Subject: {{ subject.subject_name }}</div>
		<p id="subject-teacher">Teacher: {{ subject.teacher }}</p>
		{% if subject.description %}
			<p id="subject-description">
				{{ subject.description }}
			</p>
		{% endif %}
	</div>

	<!-- Members list -->
	<div class="row d-flex justify-content-center">
		<button onclick="toggleMembersSubjects()" class ="btn btn-primary m-1">   
			Activities 
		</button>
		<button onclick="toggleMembersSubjects()"  
			class ="btn btn-primary m-1"> 
			Members 
		</button>
		{% if user == teacher  or user in admins %}
			<button onclick="on(document.getElementsByClassName('overlay')[0])" class="btn btn-primary m-1 "> 
				Edit Subject 
			</button>
			<a class ="btn btn-danger m-1" 
				href="{% url 'delete_subject' classroom.unique_id subject.id %}"> 
				Delete
			</a>
		{% endif %}
	</div>

	{% if user == teacher  or user in admins %}
	<div class="overlay">
		<form method="POST"class="overlayform" enctype="multipart/form-data">
			{% csrf_token %}
			<a onclick = "toggleBlockForm(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a> 
				{% for field in form %}
					{% if field.field.widget.input_type == 'file' %}
					<input type="file" name="file" id="actual-btn" hidden/>
					<label id="file-upload-label" class="text-center"for="actual-btn">Upload File<i class="fa mx-2 fa-upload" aria-hidden="true"></i></label>
					{% else %}
						{{ field.label_tag }}<br>
						{{ field }}
					{% endif %}
				{% endfor %}
			<center>
				<input type="submit" class=" submit-button"value="Submit">
			</center>
		</form>
	</div>
	{% endif %}

	<div id="members" class="m-auto">
		<h1 class="text-center"> Members </h1>

	{% for member in members %}
	<div class="member-card bg-light m-auto">
		<div style="display:flex;">
			<div>
				<img height="70" width="70"src="{{member.profile.profile_pic.url}}">
			</div>
			<div>
				<h5>
					<a href="/profile/{{ member.username }}">
						{{ member.username }} 
					</a><br>
					{% if member in admins %}Admin{% endif %}
					{% if member == teacher %}Teacher{% endif %}
				</h5>
				<p>{{member.profile.bio}}</p>
				{% if member in upload_permissions and member not in admins %}
					Can upload resources
				{% endif %}
			</div>
		</div>
		{% if user == teacher  or user in admins and member != teacher and member in admins %}
			<div style="position:absolute;top:5px;right:10px;"
				class="btn-group dropleft">
				<button class="btn dropdown-toggle btn-lg bg-transparent" 
					data-toggle="dropdown" type="button" 
					aria-haspopup="true" aria-expanded="false"> 
				</button>
				<div class="dropdown-content dropdown-menu">
					{% if member in upload_permissions %}
						<a href="{% url 'upload_permissions' classroom.unique_id subject.id member.username %}">
							<nobr>Take upload permssion</nobr>
						</a>
					{% else %}
						<a href="{% url 'upload_permissions' classroom.unique_id subject.id member.username %}">
							<nobr>Give upload permissions</nobr>
						</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div><br>
	{% endfor %}
	</div>
	<!-- Members list end -->

	<div id="activity" class="m-auto">
		<h1 class="text-center"> Activities </h1>
		{% for activity in page %}
			<div class="row activity-container mx-auto bg-light">
				{{ activity.action }}<br>
				{{ activity.actor }}<br>
				{{ activity.time|naturaltime }}<br>
			</div>
		{% endfor %}
		{% include 'paginations.html' %}
	</div>
</div>
{% endblock %}