{% extends 'subject_page.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block subject_content %}
<div class="container-fluid">
	<p style="display:block;">
		Teacher name: {{ subject.teacher }}<br>
		subject: {{ subject.subject_name }} <br>
		No. of members: {{members|length }}<br> 
		Subject activity: <br>
	</p> 
	<!-- Members list -->
	{% for member in members %}
	<div style="position:relative;" class="member-card w-75 m-auto">
		<div style="display:flex;">
			<div style="display:flex;position:relative;top:-15px;">
				<img height="70" width="70" style="border-radius:10px;margin-right:20px;"
				src="{{member.profile.profile_pic.url}}">
			</div>
			<div class="member-container">
				<h4><b>
					{{ member.username }} &nbsp; &nbsp;<br>
					{% if member in admins %}Admin {% endif %}
				</b></h4>
				<p>{{member.profile.bio}}</p>
				{% if member in upload_permissions %}
					Can upload resources
				{% endif %}
			</div>
		</div>

		<div style="position:absolute;top:5px;right:10px;" class="btn-group dropleft float-right">
			  <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown" 
			  	aria-haspopup="true" aria-expanded="false"> </button>
				{% if user == teacher  or user in admins %}
					<div class="dropdown-content dropdown-menu">
						{% if member in upload_permissions %}
							<a href="{% url 'upload_permissions' classroom.unique_id subject.id member.username %}">
								Take upload permssion
							</a>
						{% else %}
							<a href="{% url 'upload_permissions' classroom.unique_id subject.id member.username %}">
								Give upload permissions
							</a>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>

	{% endfor %}
	<!-- Members list end -->
</div>
{% endblock %}