{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} {{ profile.user.username|upper}} {% endblock %}
{% load filters %}
{% load static %}
{% load account %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div>
	{% include 'snippets/navigation.html' %}
    {% if messages %}
        <div class="messages container">
            {% for message in messages %}
                <div class='alert alert-{{ message.tags }} alert-dismissible fade show'>
                    {{ message }} 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
            {% endfor %}
        </div>
	{% endif %}<br>
	{% if user.username == profile.user.username %}
		{% if not user.profile.whatsapp_number or not user.profile.facebook or not user.profile.phone_number %}
		<center class="lead bg-warning p-2 bg-dark container text-white">
			Please add your contact details so other users can contact you in case of any need.
		</center>
		{% endif %}
	{% endif %}
	
	<div id="profile" class="container">
		<div class="row">
			<div id="info" class="mx-auto">
				{% get_social_accounts user as accounts %}
				{% if accounts %} 
				<img style="width:100%;height: 300px;" class="img-fluid"
					src="{{ user.socialaccount_set.all.0.get_avatar_url }}"/><br><br>
				{% else %}
				<img style="width:100%;height: 300px;" class="img-fluid" 
				src="{{ profile.profile_pic.url }}"><br><br>
				{% endif %}
				

				<h3 class="text-center">{{ profile.user.username }}</h3>
				<h4 class="text-center"> {{user.first_name }} {{user.last_name }}</h4>
				<pre class="text-center">{{ profile.bio }}</pre>
				
				<div id="social-container"  style="display:flex; justify-content: center;">
					{% if profile.facebook %}
						<a style="background:#3b5998;color:white;" href="{{ profile.facebook }}" target="_blank" 
							class="btn-floating btn-lg btn-fb">
							<i class="fab fa-facebook-f"></i>	
						</a>
					{% endif %}
					<a style="background:#EA4335;color:white;"href="mailto:{{profile.user.email}}" target="_blank" 
						class="btn-floating btn-lg btn-gplus">
						<i class="fas fa-envelope"></i>
					</a>
					{% if profile.whatsapp_number != None %}
						<a target="_blank" style="background:#1eae9d;color:white;"class="btn-floating btn-lg btn-whatsapp" 
							href="https://api.whatsapp.com/send?phone={{user.profile.whatsapp_number}}">
							<i class="fab fa-whatsapp"></i>
						</a>
					{% endif %}

					{% if profile.phone_number  != None %}
						<a style="color:white;"target="_blank" href="tel:{{user.profile.phone_number }}" 
							class="btn-floating btn-lg">
							<i style="transform: rotate(270deg)"class="fa fa-phone" aria-hidden="true"></i>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% if profile.user.username == user.username %}
			<center>
				<button style="margin:10px;"class="btn btn-info"
				onclick="on(document.getElementsByClassName('overlay')[0])">
				Edit profile
				</button>
				{% get_social_accounts user as accounts %}
				{% if not accounts %} 
					<a style="margin:10px;"class="btn btn-info" href="{% url 'password_change' %}">
						Change Password
					</a>
				{% endif %}
			</center>

			<div class="overlay">
				
				<form method="POST" class="overlayform" onsubmit="return validateprofile();" enctype="multipart/form-data">
					{% csrf_token %}
					<a onclick = "off(document.getElementsByClassName('overlay')[0])" id="close"> &times;</a> <br>
					<h1> Update your profile </h1><br>
					<p id="profile-errors"></p>
					<div id="profile-edit">
						{% for field in p_form %}
							{% if field.field.widget.input_type == 'file' %}
							<input type="file" name="file" id="actual-btn" hidden/>
							<label id="file-upload-label" class="text-center"for="actual-btn">                       
								{% if user.profile.profile_pic %}
								{{ user.profile.profile_pic|filebasename }}. Click to change
								{% endif %}
								Upload Profile pic<i class="fa mx-2 fa-upload" aria-hidden="true"></i></label>
							{% else %}
								{{ field.label_tag }}<br>
								{{ field }}
							{% endif %}
						{% endfor %}
						<input type="submit" class="btn btn-primary float-right"value="Update Profile">
					</div>
				</form>
			</div>
		{% endif %}
	</div>
	<hr/>
	{% if profile.user.username == user.username %}
		<h1 class="text-center"> Your pending requests </h1>
	{% endif %}
</div>
{% endblock %}
