{% extends 'base.html' %}
{% block content %}
<div class="container profile-page">
 {% if messages %}
	{{ messages.last }}
 {% endif %}
 <div class="blog-section mb-3">
	<div class="media">
	  <img src="{{ profile.profile_pic.url }}" class="profile-page-pic">
		<h3 class="ml-5 mt-5" >{{ profile.user }}</h3>
	</div>
	{% if user.is_authenticated %}
	<div style="font-size: 1.3em;" class="float-right">
		<a style="margin:0;" id="assign-home" class="float-right btn btn-info ml-2" href="{% url 'home' %}" > Home Page </a>
	    <a style="margin:0;" class="btn btn-info" href="{% url 'logout' %}">Log Out </a>
		<a style="margin:0;" class="btn btn-info" href="{% url 'password_change' %}">Change Password </a>
		<button style="margin:0;" class="btn-toggle btn btn-info"> Change Mode </button>
	</div>
	{% endif %}
	<div class="mt-3"><p><em>{{ profile.bio }}</em></p></div><br>
		{% if request.user.is_authenticated %}
			<div class="profile-follow">
				{% if request.user == profile.user %}
				<a href="{% url 'edit-profile'%}"class="btn btn-outline-dark float-right btn-sm">Edit profile</a><br>
			     {% endif %}<br>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
