{% extends 'base.html' %}
{% block content %}
<div class="container p-0 bg-light">
	<div class="media">
		<img src="{{ profile.cover_photo.url }}" class="cover_photo">
		<center > 
			<img src="{{ profile.profile_pic.url }}" class="profile-page-pic"><br>
				<span style="position:relative;top:-60px;"><h3>{{ profile.user.username }}</h3>
				{{ profile.bio}}</center> </span>
	 <div style="position:relative;top:-70px;" id="social-container">
		<a href="#"  class="btn-floating btn-lg btn-fb"><i class="fab fa-facebook-f"></i></a>
		<a href="#" class="btn-floating btn-lg btn-gplus"><i class="fas fa-envelope"></i></a>
		<a href="#" class="btn-floating btn-lg btn-ins"><i class="fab fa-instagram"></i></a>
		<a href="#" class="btn-floating btn-lg btn-whatsapp" ><i class="fab fa-whatsapp"></i></a>
	</div>
		{% if user.username == profile.user.username %}
	<div id="profile-btn-container">
	    <a style="margin:10px;" class="btn btn-info" href="{% url 'logout' %}">Log Out </a>
		<a style="margin:10px;" class="btn btn-info" href="{% url 'password_change' %}">Change Password </a>
		<a style="margin:10px;" class="btn btn-info" href="/profile/edit-profile/{{user.username}}/">Edit profile</a>
	</div>
	{% endif %}	
</div>
{% endblock %}
