pre {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: verdana;
}
body{
	background: lightblue;
}
.reg-title{
	color:grey;
	font-weight:bolder;
	text-align: center;
}