.add-btn {
    color: white;
    background: black; 
}
.content {
    background: #F8F8FF;
    margin: 6px 0px;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 1.4em;
    color:black;
    box-shadow: 2px 4px 6px grey;
    word-wrap: break-word;
    transition:all 0.4s;
    text-decoration: none;
    width:100%;
    box-sizing: content-box;
}
.content a{
    text-decoration: none;
    color:black;
    
}
.content:hover{
    box-shadow: 0px 0px 16px black;
    transform:scale(1.01,1.01)
}

.uploaded_by {
    float: left;
    text-align: center;
}
.time {
    float: right;
    text-align: center;
}

.no-items{
    text-align:center;
    color:green;
    font-weight: bolder;
    margin-top:100px;
}
a:link{
    text-decoration: none;
}
.django-quill-widget-container{
margin-bottom:50px;
height:25rem;
}
@media screen and (max-width:770px) {
    .uploaded_by {
        float: none;
        text-align: center;
        margin:0;
    }
    .time {
        float: none;
        text-align: center;
        margin:0;
    }
    .content {
        padding-bottom: 50px;
        text-align: center;
        height:7em;
    }
    .content {
        font-size: 1em;
    }
}