.add-btn {
	color:white;
	background:black;
}
.addForm{
	width:80%;
	display:block;
	margin:auto;
	padding:20px;
	border-radius:40px;
	background:#F5F5F5;
	box-shadow:2px 4px 5px grey;
}
.addForm input,textarea{
	border:none;
	border-bottom:1px solid black;
	width:100%;
	outline-width:none;
	overflow:hidden;
	resize:none;
	padding:5px 15px;
	border-radius:10px;
}
.addForm input[type="submit"]{
	background: black;
	color:white;
	cursor: pointer;
	text-align:center;
	padding: 5px;
	font-size:1.2em;
	display:block;
	margin:auto;
	width:300px;
	border-radius:20px;
}
.addForm input:focus,textarea{
	border-bottom:1px solid black;
	outline:0px;
}

.content{
	background:#F8F8FF;
	margin-top:12px;
	padding: 20px;
	box-shadow: 2px 4px 5px grey;
	border-radius: 10px;
}
.link{
	font-size:25px;

}
a:link{
	text-decoration: none;
}
@media screen and (min-width:770px){
	.uploaded_by{
		float:left;
	}
	.time{
		float:right;
	}
}